/* Все опросы*/

.polls{
	margin: 0 auto;
	width: 100%;
	background-color:#FFF9F6;
    background-size: 100% auto; 
    font-family: Gotham Pro;
	color: #FFFFFF;
	padding-top: 3vw;
}

.polls__buttons{
	margin: 0 8vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	z-index: 999999;
}
.polls__buttons-idea-main{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 22vw;
}
.polls-the-ideas{
	color: #4F4F4F;
    font-size: 1.18vw;
	padding: 0.6vw 0;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	letter-spacing: 0.05em;
}
.polls-main{
    color: #808080;
    font-size: 1.18vw;
	padding: 0.6vw 0;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	letter-spacing: 0.05em;
}

.polls-questions{
    color: #FAC172;

    font-size: 1.18vw;
	padding: 0.6vw 0;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	letter-spacing: 0.05em;
	border-bottom: 2px solid #FAC172;
}

/****/
.polls___block{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
    width: 87vw;
    margin: 2vw 8vw;
}

.polls___block-and-text{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #FFFFFF;
    color:#808080;
    margin: 0 0.5vw 2vw;
    width: 20vw;
    height: 16vw;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.polls___block-of_polls{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
}
.polls___block-of_polls p{
	margin: 0;
	padding: 1vw;
    border-radius: 10px;
    font-size: 1.05vw;
    line-height: 1.5vw;
    color:#000000;
}
.polls__color_author,
.polls__color_voted-top{
    padding: 1vw;
    border-radius: 10px;
    font-size: 0.9vw;
    line-height: 1.5vw;
}

.polls__questionnaire{
	display: none;
}
.polls__questionnaire a{
    display: none;
    margin: 0.7vw;
    padding: 1vw;
    height: 1vw;
    text-align: center;
    border-radius: 7px;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-size: 0.88vw;
    letter-spacing: 0.05em;
}

.polls__color_voted-bottom{
	display: none;
	padding: 1vw;
	border-radius: 10px;
	font-size: 0.9vw;
	line-height: 1.5vw;
}

.polls___block-and-text:nth-child(11n-10) { order: 1;}
.polls___block-and-text:nth-child(11n-9) { order: 2;}
.polls___block-and-text:nth-child(11n-8) { order: 2;}
.polls___block-and-text:nth-child(11n-7) { order: 4;}
.polls___block-and-text:nth-child(11n-6) { order: 5;}
.polls___block-and-text:nth-child(11n-5) { order: 6;}
.polls___block-and-text:nth-child(11n-4) { order: 7;}
.polls___block-and-text:nth-child(11n-3) { order: 8;}
.polls___block-and-text:nth-child(11n-2) { order: 9;}
.polls___block-and-text:nth-child(11n-1) { order: 10;}
.polls___block-and-text:nth-child(11n) { order: 11;}

/*********/
/*1*/
.polls___block-and-text:nth-child(11n-10){
	background-color: #FD9281;
	color:#FFFFFF;
}
/*4*/
.polls___block-and-text:nth-child(11n-7){
	display: block;
	background-color: #FFAE91;
	color:#FFFFFF;
	height: 36vw;
}
/*5*/

.polls___block-and-text:nth-child(11n-6),
.polls___block-and-text:nth-child(11n-3){
	width: 41vw;
}
/*7*/
.polls___block-and-text:nth-child(11n-4){
	display: block;
	height: 36vw;
}
/*11*/
.polls___block-and-text:nth-child(11n){
	width: 41vw;
    background-color: #FFAE91;
	color:#FFFFFF;
}

.polls___block-and-text:nth-child(11n-10) p,
.polls___block-and-text:nth-child(11n-7) p,
.polls___block-and-text:nth-child(11n) p
{
	color:#FFFFFF;
}
.polls___block-and-text:nth-child(11n-7).polls__questionnaire, 
.polls___block-and-text:nth-child(11n-6).polls__questionnaire,
.polls___block-and-text:nth-child(11n-4).polls__questionnaire,
.polls___block-and-text:nth-child(11n).polls__questionnaire{
	display: block;
}
.polls___block-and-text:nth-child(11n-7) .polls__questionnaire a,
.polls___block-and-text:nth-child(11n) .polls__questionnaire a{
	display: block;
	background-color: #FF8357;
    color: #FFFFFF;
}
/*для 5-го*/

.polls___block-and-text:nth-child(11n-6) .polls__questionnaire a,
.polls___block-and-text:nth-child(11n-4) .polls__questionnaire a{
	display: block;
	border:0.1em solid  #D8D8D8;
    color:  #808080;
}
.polls___block-and-text:nth-child(11n-7) .polls__color_voted-bottom,
.polls___block-and-text:nth-child(11n-4) .polls__color_voted-bottom{
	display: block;

}
.polls___block-and-text:nth-child(11n-7) .polls__color_voted-top,
.polls___block-and-text:nth-child(11n-4) .polls__color_voted-top{
	display: none;
}
