
.all_ideas{
	margin: 0 auto;
	width: 100%;
	background-color:#F6FAFF;
    background-size: 100% auto; 
    font-family: Gotham Pro;
	color: #FFFFFF;
	padding-top: 3vw;
}
.all_ideas__buttons{
	margin: 0 8vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	z-index: 999999;
}
.all_ideas__buttons-idea-main{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 22vw;
}
.all_ideas-the-ideas{
    color: #89D5C9;
    font-size: 1.18vw;
	padding: 0.6vw 0;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	letter-spacing: 0.05em;
	border-bottom: 2px solid #89D5C9;
}

.all_ideas-questions{
    color: #4F4F4F;
    font-size: 1.18vw;
	padding: 0.6vw 0;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	letter-spacing: 0.05em;
}

.all-ideas-main{
    color: #808080;
    font-size: 1.18vw;
	padding: 0.6vw 0;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	letter-spacing: 0.05em;
}

.all_ideas-create-new{
  	display: block;
	width: 18vw;
	height: 2.2vw;
    padding-top: 0.8vw;
    text-align: center;
	background-color: #97D9CF;
	border-radius: 40px;
	color: #FFFFFF;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	font-size: 1.18vw;
	letter-spacing: 0.05em;
}


/****/
.all_ideas___block{
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 86vw;
	margin: 2vw 7vw;
}
.all_ideas___block-and-text{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #FFFFFF;
    color:#808080;
    margin: 0 0.5vw 2vw;
    width: 20vw;
    height: 16vw;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}
.all_ideas___block-of_ideas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
}
/*для 1-го*/
.all_ideas___block-and-text:nth-child(15n-14){
	background-color: #BCD777;
	color:#FFFFFF;
}
/*для 5-го*/
.all_ideas___block-and-text:nth-child(15n-10),
.all_ideas___block-and-text:nth-child(15n-3),
.all_ideas___block-and-text:nth-child(15n-2)
{
	width: 42vw;
}
/*для 6-го*/
.all_ideas___block-and-text:nth-child(15n-9),
.all_ideas___block-and-text:nth-child(15n-4){
	background-color: #99E0AD;
	color:#FFFFFF;
	width: 42vw;
}
.all_ideas___block-of_ideas p{
	margin: 0;
	padding: 1vw;
    border-radius: 10px;
    font-size: 1.05vw;
    line-height: 1.5vw;
    color:#000000;
}

.all_ideas___block-and-text:nth-child(15n-14) p,
.all_ideas___block-and-text:nth-child(15n-9) p,
.all_ideas___block-and-text:nth-child(15n-4) p{
	color:#FFFFFF;
}


.all_ideas__color_author{
    padding: 1vw;
    border-radius: 10px;
    font-size: 0.9vw;
    line-height: 1.5vw;
    color:#808080;
}

.all_ideas__block__like-dislike{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw;
    width: 12vw;
}
.all_ideas__like-dislike{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 6vw;
}

.all_ideas__like{
	width: 1.8vw;
    height: 1.8vw;
    background: url('../img/like-black.png') no-repeat;
    background-size: contain;
}

.all_ideas__dislike{
	width: 1.8vw;
    height: 1.8vw;
    background: url('../img/dislike-black.png') no-repeat;
    background-size: contain;
}

.all_ideas___block-and-text:nth-child(15n-14) .all_ideas__like,
.all_ideas___block-and-text:nth-child(15n-9) .all_ideas__like,
.all_ideas___block-and-text:nth-child(15n-4) .all_ideas__like{
	width: 1.8vw;
    height: 1.8vw;
    background: url('../img/like.png') no-repeat;
    background-size: contain;
}

.all_ideas___block-and-text:nth-child(15n-14) .all_ideas__dislike,
.all_ideas___block-and-text:nth-child(15n-9) .all_ideas__dislike,
.all_ideas___block-and-text:nth-child(15n-4) .all_ideas__dislike{
	width: 1.8vw;
    height: 1.8vw;
    background: url('../img/dislike.png') no-repeat;
    background-size: contain;
}

.all_ideas__text{
	display: none;
	color: #808080;
    width: 15vw;
	font-size: 0.88vw;
	margin: 0;
    padding: 1vw;
	line-height: 24px;
}
/*для 5-го*/
.all_ideas___block-and-text:nth-child(15n-10) .all_ideas__text,
.all_ideas___block-and-text:nth-child(15n-3) .all_ideas__text,
.all_ideas___block-and-text:nth-child(15n-2) .all_ideas__text
{
	display: block;
}
/*для 5-го*/
.all_ideas___block-and-text:nth-child(15n-9) .all_ideas__text,
.all_ideas___block-and-text:nth-child(15n-4) .all_ideas__text{
	display: block;
	color:#FFFFFF;
}