.display_idea{
	margin: 0 auto;
	padding-top: 0;
	font-family: Gotham Pro;
	background-color: #F6FAFF;
	border-top: 0.2em solid #F5F5F5;;
}
.display_idea__discussion-idea{
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	margin: 0 auto;
	padding: 3vw 10vw 0 8vw;
	width: 84vw;
}
.display_ideas__topic{
	width: 39vw;
}
.display_ideas__topic h2{
	margin: 0;
	font-size: 1.62vw;
	line-height: 2.37vw;
	letter-spacing: 0.05em;
	color:#4F4F4F;
}
.display_ideas__topic p{
	font-size: 1.025vw;;
	line-height: 2vw;
	color: #000000;
}
.display_ideas__idea-like{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom:5vw;
	width: 35vw;
	height: 6vw;
	padding: 0 1vw;
	background-color: #99E0AD;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	color:#FFFFFF;
}
.display__like-dislike{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 10vw;
}

.like_idea{
	background: url('../img/like.png') no-repeat;
	background-size: contain;
	width: 1.8vw;
	height: 1.8vw;

}
.dislike_idea{
	background: url('../img/dislike.png') center center no-repeat;
	background-size: contain;
	width: 1.8vw;
	height: 1.8vw;
	margin-left: -1vw;	
}

/*фото и документы*/

.display_ideas__foto-document{
	display: block;
	width: 44vw;
}
.display_ideas__on-discussion{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	font-size: 1.025vw;
	color:#808080;
	line-height: 20px;
	text-align: right;
	letter-spacing: 0.05em;
}
.display__on-discussion__like_dislike{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 6.5vw;
}
.on-discussion__like-dislike{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 2.6vw;
	align-items: center;
}
.on-discussion__like_green{
	background: url('../img/like_green.png') no-repeat;
	background-size: contain;
	width: 1vw;
	height: 1vw;
}
.on-discussion__dislike_red{
	background: url('../img/dislike_red.png') no-repeat;
	background-size: contain;
	width: 1vw;
	height: 1vw;
}
.display_ideas__foto{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.display_ideas__foto-left{
	display: flex;
	
	width: 32vw;
	height: 22.15vw;
}
.display_ideas__foto-right{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 10vw;
	height: 22.15vw;
}
.display_ideas__foto-left img{
	width: 32vw;
}
.display_ideas__foto-right img{
	width: 10vw;
}
.display_ideas__document{
	display: block;
}
.display_ideas__document-img-p{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 1vw;
	color:#808080;
	width: 30vw;

}
.display_ideas__document-img-p img{
	width: 1em;
	align-items: center;
	padding-right: 0.5vw; 
}

/*** коментарии ***/
.dislike__coments{
	margin: 0 8vw;
	display: flex;
	flex-direction: column;
}
.dislike__coments h3{
	font-size: 1.62vw;
	line-height: 2em;
	letter-spacing: 0.05em;
	color: #4F4F4F;
}
.dislike__your-coments{
	font-size: 1.03vw;
	line-height: 0.8125em;
	color: #000000;
}

.dislike__coments input{
	margin: 0.5vw 0;
	width: 50vw;
	height: 3vw;
	padding-left:1vw;
	font-size: 1.03vw;
	line-height: 1.0625em;
	color:#808080;
	border:none;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);  
}
.dislike__coments a{
	margin: 1vw 0 4vw; 
	width: 20vw;
	height: 2vw;
	padding-top: 1vw;
	text-align: center;
	color: #FFFFFF;
	background: #97D9CF;
	border-radius: 60px;
}
.dislike__all_coments{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 60vw;
}
.dislike__all_coments img{
	width: 3vw;
	height: 3vw;
}
.dislike__user-text_coment{
	display: block;
	width: 60vw;
	padding-left: 2vw;
}
.dislike__user_coment{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: start;
	color: #636363;
	font-size: 1.03vw;
	line-height: 0.8125em;
	margin: 0;
}
.dislike__text_coment{
	width: 56vw;
	padding: 2vw;
	background-color: #FFFFFF;
	color: #808080;
	font-size: 1.03vw;
	line-height: 1.625em;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
}
