
.display_poll{
	width: 100%;
	border: none;
	font-family: Gotham Pro;
	background-color: #FFF9F6;
}
.display_idea__discussion-poll{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 3vw 8vw;
	background-color: #FFFFFF; 
	width: 84vw;
	
}
.display_poll__topic{
	display: flex;
	flex-direction: column;
	width: 40vw;
}
.display_poll__topic h2{
	margin: 0;
	font-size: 1.62vw;
	line-height: 2.37vw;
	letter-spacing: 0.05em;
	color:#4F4F4F;
}
.display_poll__topic p{
	font-size: 1.025vw;;
	line-height: 2vw;
	color:#000000;
}
.display_poll__topic a{
	font-size: 1.03vw;
	background: #FFAE91;
	box-shadow: 0.125em 0.125em 0.313em rgba(0, 0, 0, 0.05);
	border-radius: 0.32em;
	color: #FFFFFF;
	width: 35vw;
	height: 2vw;
	padding:1vw 0 0 1vw; 
	margin:0.5vw 0; 
}
.display_poll__author-and-foto{
	display: block;
	width: 40vw;
}
.display_poll__author-and-foto p{
	color: #808080;
	font-size: 1.03vw;
	line-height: 1.25vw;
	text-align: right;
	letter-spacing: 0.05em;
}
.display_poll__foto{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 40vw;
	margin-top: 4.1vw; 
}
.display_poll__foto-left{
	display: flex;
	width: 30vw;
}
.display_poll__foto-left img{
	width: 29vw;
	
}
.display_poll__foto-right{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 9vw;
	
}
.display_poll__foto-right img{
	width: 9vw;
}


/** коментарии*/
.dislike__coments{
	margin: 0 8vw;
	display: flex;
	flex-direction: column;
}
.dislike__coments h3{
	font-size: 1.62vw;
	line-height: 2em;
	letter-spacing: 0.05em;
	color: #4F4F4F;
}
.dislike__your-coments{
	font-size: 1.03vw;
	line-height: 0.8125em;
	color: #000000;
}

.dislike__coments input{
	margin: 0.5vw 0;
	width: 50vw;
	height: 3vw;
	padding-left:1vw;
	font-size: 1.03vw;
	line-height: 1.0625em;
	color:#808080;
	border:none;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);  
}
.poll-coment{
	margin: 1vw 0 4vw; 
	width: 20vw;
	height: 2vw;
	padding-top: 1vw;
	text-align: center;
	color: #FFFFFF;
	background: #FFCD88;
	border-radius: 60px;
}
.dislike__all_coments{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 60vw;
}
.dislike__all_coments img{
	width: 3vw;
	height: 3vw;
}
.dislike__user-text_coment{
	display: block;
	width: 60vw;
	padding-left: 2vw;
}
.dislike__user_coment{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: start;
	color: #636363;
	font-size: 1.03vw;
	line-height: 0.8125em;
	margin: 0;
}
.dislike__text_coment{
	width: 56vw;
	padding: 2vw;
	background-color: #FFFFFF;
	color: #808080;
	font-size: 1.03vw;
	line-height: 1.625em;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
}
