.enter{
	padding-top: 3vw;
	margin: 0 auto;
	background-color: #F6FAFF;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-family: Gotham Pro;
	cursor: auto;
}
.enter h2{
	font-size: 1.615vw;
	line-height: 2vw;
	text-align: center;
	letter-spacing: 0.05em;
	color: #4F4F4F;
	margin: 0;
}
.enter p{
	font-family: Gotham Pro;
	font-size: 1.03vw;
	line-height: 1vw;
	text-align: center;
	color: #000000;
	padding-top: 1.5vw;
}
.enter input{
	padding-left: 2vw;
	font-family: Gotham Pro;
	font-size: 1.03vw;
	color: #808080;
	width: 33vw;
	height: 3vw;
	border: none;
	border-radius: 0.3vw;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.enter a{
	margin: 3vw;
	width: 20vw;
	height: 2.5vw;
	padding-top: 1vw;
	text-align: center;
	color: #FFFFFF;
	background-color: #97D9CF;
	border-radius: 15vw;
	font-size: 1.03vw;
	line-height: 1.5vw;
	letter-spacing: 0.05em;
}