.registration{
	width: 100%;
	height: 100vh;
	padding: 3vw 8vw;
	background-color: #F6FAFF;
	font-family: Gotham Pro;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}
.registration h2{
	font-size: 1.375em;
	line-height: 2em;
	letter-spacing: 0.05em;
	color: #4F4F4F;
	margin: 0;
}
.registration__personal_information{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 72vw;
}
.registration__name{
	
	display: block;
}
.registration__name p,
.registration__surname p{
	font-size: 1.03vw;
	line-height: 0.813em;
	color: #000000;
	padding-top: 2vw;
}
.registration__name input,
.registration__surname input{
	font-family: Gotham Pro;
	width: 33.4vw;
	height: 2.8vw;
	padding-left: 1vw;
	font-size: 1.03vw;
	line-height: 0.813em;
	color: #808080;
	border:none;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 0.313em;
}
.birthday{
	background:url('../img/date.png')  no-repeat #FFFFFF;
	background-position: 98% 50% ;
	background-size: 2vw;
	}

.registration__consent{
	margin:  2vw 0;
	width: 33.4vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.registration__consent input{
	border: 0.1em solid #000000;
	box-sizing: border-box;
	transform:scale(1.6);
	opacity:0.9;
	cursor:pointer;
}
.registration__consent p{
	font-size: 0.88vw;
	line-height: 0.9vw;
	letter-spacing: 0.025em;
	color: #72ADFE;
	margin: 0;
	padding-left:1vw;
}
.registration a{
	width: 20vw;
	height: 2vw;
	padding-top: 1vw;
	margin-top: 3vw;
	text-align: center;
	background: #97D9CF;
	border-radius: 20vw;
	font-size: 1.03vw;
	line-height: 0.83;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}