html,
body{
	margin:0;
	padding:0;
	font-size:100%;
	width: 100vw;
}
img {
	max-width: 100%;
}

header{
	width: 100%;
	height: 100vh;
	position: relative;
	font-family: Geometria;
}
a{
	text-decoration: none;
	outline: none;
}

.header__block{
	margin:0 auto;
	width:100%;
	height: 11vh;
	display: flex;
	flex-direction:row;
	justify-content:flex-end;
	align-items: center;
	position: relative;
	color:#D9D9D9;
	background: linear-gradient(101.22deg, #2E2E2E 48.54%, #1C1C1C 92.19%);
}

.header__block-slider{
	width:34vw;
	display:flex;
	margin: 2.5vh 11vw 0 0;
}
.slick-list{
	padding: 0 !important;
	margin: 0 12%;

}
.slick-active {
    text-align: center;
	font-size:1.32vw;
	
}
.slick-center span{
	font-size: 1.5vw;
	line-height: 1.5625em;
	border-bottom: 4px solid #20B7A5;
	position: relative; 
	top:-0.4em;
	color:#FFFFFF;
}

.authorization{
	width: 16vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 6vw;
    z-index: 999999;
    font-size: 1.025vw;
    position: relative;
    shape-outside: polygon(113% 100% , 77% -162%, 10% 100%);
    clip-path: polygon(113% 100% , 77% -162%, 10% 100%);
    background: #121212;
    color:#D9D9D9;

}



.enter,
.registration{
	color:#D9D9D9;
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}


.heder__block-menu{
	display:none;
}

.background-naberejnay{
	background:center;
	background: linear-gradient( rgba(119, 84, 84, 0), 
	rgba(0, 0, 0, 0.43) ),
	url(../img/slid-1.png) center center;
	background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;
    position: relative;
	z-index:1;
	
	
}
.background-nijniy{
	background:inherit;
	background: url('../img/slid-2.png');
	background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;
    position: relative;
	z-index:1;
}
.background-verh{
	background:inherit;
	background: url('../img/slid-3.png');
	background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;
    position: relative;
	z-index:1;
}


h1{
	font-size: 3.52vw;
	line-height:0;
}

.naberejnay{
	position:absolute;
	display:inline-block;
	z-index:1;
	top:10vh;
	left:6vw;
	color:#32BDB5;
}
.gorod-lip{
	
	position:absolute;
	display:inline-block;
	z-index:1;
	top:17vh;
	left:11vw;
	color:#FFAE91;
	
}

.nijniy{
	margin:0 auto;
	position:absolute;
	display:inline-block;
	
	z-index:1;
	top:10vh;
	left:6vw;
	
	color:#A091FF;
	
	line-height: 60px;
}

.verhniy{
	margin:0 auto;
	position:absolute;
	display:flex;
	flex-direction:column;
	z-index:1;
	top:17vh;
	left:11vw;
	color:#FFFFFF;
	line-height: 60px;
}

.button{
	width: 22.7vw;
	height:6.3vw;
	bottom:4vw;
	left:5vw;
	position: absolute;
	font-size: 1.25vw;
	text-align: center;
	border:0.1em white solid;
	color:white;
	cursor: pointer;
	background: rgba( 255, 0, 0, 0);
	transition: 0.08s;
	text-decoration: none;
}
.button:active { background: rgba(255,255,255,0.2); }

.img-cursor{
	background: url('../img/Group.png') no-repeat center center;
	background-size: cover; 
	width: 4vw;
    height: 2vw;
    position: absolute;
    display: inline-block;
    left: 9.5vw;
    bottom: 1.4vw;
		
}



.reconstructions{
	position:absolute;
	right: 5vw;
	bottom:10vw;
	font-size: 2.2vw;
	text-align: end;
	color: #FFFFFF;
}

.lipetsk{
	position: absolute;
	right: 5vw;
	bottom: 3vw;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lipa{
	height: 2.3vw;
    width: 2.3vw;
    margin-left: 1vw;
    vertical-align: right;
    background: url('../img/Vector.png') no-repeat;
	background-size: contain; 
}

/*Новости*/

.news{
	width:100%;
	background: url('../img/nov.png')  top center no-repeat;
    background-size: 100% auto;
}
.news h2{
	padding: 13vw 0 2vw 10% ;
	font-family: Gotham Pro;
	font-size: 2vw;
	margin: 0;
	color: #89D5C9;
}

/*.content-2{
	width: 90%;
	margin: 0 auto;

}*/


.ul-new{
	margin: 0 9.25%;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	text-align: center;
	position: relative;
	width: 80%;
	list-style-type: none;
	flex-wrap: wrap;
	overflow: hidden;
}
.li-new{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	font-family: Geometria;
	float: left;
	overflow: hidden;
	width: 14.3vw;
	min-width: 21.3em;
	background-color: #ffffff;
	color: #000000;
	text-align: left;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	/*margin: 0.75%;*/
	margin: 1vw;
}

.title{
	display:flex;
	margin:0;
	padding:1.25em 0 0 0.98em;
	font-size: 18px;
	color: #000314;
	font-weight:bold;
}
.date{
	display:flex;
	font-size: 14px;
	color:#9A9A9A;
	padding:0.9em 0 0 1.25em;
	margin:0;
}
.text{
	display:flex;
	margin:0;
	padding:1em 0 0 1.25em;
	font-size: 14px;
	color: #000314;
}
.detail{
	padding:1em 0.5em 1.25em 1.25em;
	font-size: 14px;
	color:#A0A0A0;
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}


/*идея*/
.idea{ 
	margin: 0 auto;
	width: 100%;
	background: url('../img/nov.png')  top center no-repeat;
    background-size: 100% auto; 
    font-family: Gotham Pro;
	color: #FFFFFF;
}
.idea__share{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 2vw 5vw 0 0;

}
.idea__share-title_and_text{
	display: block;
	justify-content: end;
	text-align: right;
	padding-right: 3vw; 

}
.idea__share-title_and_text h4{
	margin: 0;
	font-size:1.61vw;
	text-align: right;
	letter-spacing: 0.05em;
	position: relative;
}
.idea__share-title_and_text p{
	margin: 0 0;
	font-size: 1.32vw;
}
.idea__share a{
	font-size: 1.025vw;
	border: 0.1em white solid;
	padding: 1vw 2vw 1vw 2vw;
	cursor: pointer;
	background: rgba( 255, 0, 0, 0);
	transition: 0.08s;
	text-decoration: none;
	color:white;
	-webkit-tap-highlight-color: transparent;
}


.idea__last_sentence
{
	margin: 5vw auto 0;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.idea__last_sentence-title{
	margin: 0;
	font-size:1.61vw;
	color:#89D5C9;
}
.idea__last_sentence-post{
	font-size: 1.03vw;
	color: #808080;
	padding: 1vw 2vw 1vw 2vw;
	border: 1px solid #DADADA;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
}

/*блок с предложениями*/
.idea__sentence__block{

	/*margin: 0 10%;*/
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 48vw;
}
.idea__sentence-block-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2vw 1vw;
    width: 21vw;
    height: 16vw;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	
}
.idea__sentence-block-one p{
	margin: 0;
	padding: 1vw;
    border-radius: 10px;
    font-size: 1.05vw;
    line-height: 1.5vw;
}
.idea__sentence-block-one span{
    padding: 1vw;
    border-radius: 10px;
    font-size: 0.9vw;
    line-height: 1.5vw;
}

/* цвета */
.idea__GreenYellow {
  background-color: #BCD777;
}
.idea__orange {
  background-color: #FFCD88;
}
.idea__green {
  background-color: #99E0AD;
}.idea__aqua {
  background-color: #97D9CF;
}

.idea_block__like-dislike{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vw;
    width: 12vw;
}
.idea__like-dislike{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.idea__like{
	width: 1.5vw;
}
.idea__dislike{
	width: 1.5vw;

}




.idea__sentence__block-1{
	margin: 1vw 5vw 3.5vw 5vw ;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
}
.idea__block-questionnaire{
	position: relative;
	margin: 2vw 1vw;
	width: 40vw;
    height: 35.5vw;
	border-radius: 10px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);

}
.idea__block-questionnaire p{
	padding: 0.5vw 3vw 0;
	font-size: 1.32vw;
    line-height: 1.5vw;
    width: 28vw;
    line-height: 1.625em;
	letter-spacing: 0.05em;

 }


.idea__beyond-question{
	display: block;
	justify-content: flex-end;
	align-items: flex-start;
	margin:12vw 3vw 0; 
}
.idea__beyond-question a{
    display: block;
    position: relative;
    margin: 1vw 0;
	width: 94%;
	height: 2.2vw;
    padding: 0.8vw 0 0 2vw;
	background-color: #ADC965;
	border-radius: 11px;
	color:#FFFFFF;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	font-size: 1.03vw;
	letter-spacing: 0.05em;
}

.idea__block-questionnaire-vote{
	margin:0 3vw; 
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 0.9vw;
}
.idea__block-questionnaire-vote span{
	padding: 0.4vw 0;
}
.idea__block-questionnaire-creation_data{
	display: flex;
	flex-direction: column;

}
.idea__block-questionnaire-creation_data span{
	padding: 0.4vw 0;
}

.idea__further{
    position: relative;
    margin: 2vw 0;
	width: 16vw;
	height: 2.2vw;
    padding-top: 1vw;
	background-color: #97D9CF;
	border-radius: 50px;
	color:#FFFFFF;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	text-align: center;
	font-size: 1.03vw;
	letter-spacing: 0.05em;
}

/* Все идеи header*/
.header-ideas{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
	height: 5vw;
	background-color: #FFFFFF;
	color:#FFFFFF;
	font-family: Gotham Pro;
	position: relative;
	z-index: 1;
	border-bottom: 0.15em solid #F5F5F5;
}


.header_ideas__promenade-lipetsk{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35vw;
    height: 10vw;
    background: url(../img/bar.png) top left no-repeat;
    background-size: cover;
    z-index: 2;
}
.header_ideas__promenade-lipetsk img{
	margin: 0.6vw 0 0 7vw;
	width: 3.2vw;
    height: 3.2vw;	
}

.header_ideas__promenade-lipetsk p{
	margin: 1vw 9vw 0 0;
    height: 3vw;
    font-size: 1.25vw;
}

.header_ideas__promenade-account{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5vw;
    color: #000314;
    font-size: 0.88vw;
    line-height: 1.4vw;
    text-align: end;
    width: 11.5vw;
}
.header_ideas__promenade-account img{
	width: 4vw;
	height: 4vw;
}


/*** все оапосы header**/
.header_polls__promenade-lipetsk{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35vw;
    height: 10vw;
    background: url(../img/bar-polls.png) top left no-repeat;
    background-size: cover;
    z-index: 2;
}
.header_polls__promenade-lipetsk img{
	margin: 0.6vw 0 0 7vw;
	width: 3.2vw;
    height: 3.2vw;	
}

.header_polls__promenade-lipetsk p{
	margin: 1vw 9vw 0 0;
    height: 3vw;
    font-size: 1.25vw;
}


















































@media screen and (max-width: 1000px){
	.header__block-slider{
		margin: 2vw 6vw 0 0;
		width:42vw;
	}
}
@media screen and (max-width: 768px){
	.header__block-slider{
		margin: 2vw 18vw 0 0;
		width:20vw;
	}
	.slick-center span{
		font-size: 2.5vw;
		border-bottom: 2px solid #20B7A5;
	}
	.slick-active {
		text-align: center;
		font-size:1.8vw;
		
	}
	.authorization {
		display:none;
	}
	.heder__block-menu{
		display: flex;
		flex-direction:row;
		justify-content:flex-end;
		position: relative;
		z-index:999999;
		width: 19.5vw;
		height: 100%;
		margin: 0;
		padding-right: 3vw;
		clip-path: polygon(0 133%, 77% -107%, 134% 100%, 40% 1000%);
		background: #121212;
	}
	.hamburger{
		display:block;
		
	}
	.b1{
		width: 5vw;
	    height: 0.7vw;
		margin-top: 3vw;
	    background-color: white;
		border-radius:5vw;
	}
	
	.b2,
	.b3{
	    width: 5vw;
	    height: 0.7vw;
	    background-color: white;
	    margin-top: 0.5em;
		border-radius:5vw;
	}
	.change{
		padding-top:2vw;
	}

	.change .b1 {
		transform: rotate(-45deg) ;
	}
	.change .b2 {
		opacity: 0;
	}
	.change .b3 {
		transform: rotate(45deg) ;
		margin-top: -50%;
	}
	.menu{
		display:none;
	}
	.open{
		margin: 0;
		display: block;
		position: absolute;
		width: inherit;
		top: 99%;
		right: 0vw;
		padding: 0;
		z-index: 999999;
		background: #121212;
		font-size: 1.5vw;
	}
	
	.menu li {
		list-style-type: none;
		color:#D9D9D9;
		font-family:Geometria;
		font-size:2vw;
		padding: 2vw;
	}
	
	h1{
		font-size: 6.3vw;
		margin: 0;
	}
	.gorod-lip{
		top:20vh;
	}
	.button{
		width: 27vw;
		height: 8vw;
		font-size:2vw;
	}
	.img-cursor{
		width: 6.5vw;
		bottom: 1.3vw;
		left: 10vw;
	}
}


@media screen and (max-width: 555px){
	.header__block{
		height: 9vh;
	}
	.header__block-slider{
		height: 7vh;
		margin: 5vw 17vw 0 0;
	}
	.slick-center span{
		font-size: 3vw;
		border-bottom: 2px solid #20B7A5;
	}
	.slick-active {
		text-align: center;
		font-size: 1vw;
	}
	.change .b3 {
		transform: rotate(45deg) ;
		margin-top: -55%;
	}
	.menu li {
		font-size:2.5vw;
	}
	.background-naberejnay,
	.background-nijniy,
	.background-verh{  
		height: 91vh;
	}
	h1{
		font-size: 8vw;
		margin: 0;
	}
	.button{
		width: 50vw;
		height: 12vw;
		bottom: 18vw;
		left: 23vw;
		font-size: 2.9vw;
		border: 0.1em white solid;
	}
	.img-cursor{
		width: 7vw;
		height: 3.5vw;
		bottom: 1.4vw;
		position: absolute;
		left: 21vw;
	}
	.reconstructions{
		right: 5vw;
		bottom: 40vw;
		font-size: 4.5vw;
	}
	.lipetsk{
		right: 5vw;
		bottom: 4vw;
		font-size: 2.8vw;
	}
	.lipa {
	    height: 4vw;
	    width: 4vw;
	}
@media screen and (max-width: 425px){
	.header__block-slider{
		margin: 8vw 18vw 0 0;
		width:27vw;
	}
	
	.slick-center span {
		width:80%;
		font-size: 3.5vw;
		border-bottom: 2px solid #20B7A5;
	}
	.reconstructions {
	    font-size: 5vw;
	}
	.lipetsk {
	    font-size: 3vw;
	}
}

@media screen and (max-width: 375px){
	.header__block-slider{
	    margin: 9vw 7vw 0 0;
		width:27vw;
	}
	.slick-center span{
		font-size: 4vw;
	}
	.heder__block-menu {
	    width: 27.5vw;
	}
	.b1 {
	    width: 8vw;
	    height: 0.7vh;
	    margin-top: 2.5vh;
	}
	.b2, .b3 {
	    width: 8vw;
	    height: 0.7vh;
	    margin-top: 1vh;
	}
	.change .b1{
		margin-top: 5vw;
	}
	.change .b3 {
		margin-top: -53%;
	}
	.menu li {
	    font-size: 3.5vw;
	}
	.reconstructions {
	    font-size: 5.5vw;
	}
	.lipetsk {
	    font-size: 3.5vw;
	}
	.button {
		width: 50vw;
	    height: 8vh;
	    bottom: 18vw;
	    left: 23vw;
    	font-size: 3.4vw;
	}

}

@media screen and (max-width: 320px){
	.header__block-slider{
	    margin: 9vw 0 0 0;
		width:35vw;
	}
	.heder__block-menu {
	   	width: 29.5vw;
	    height: 90%;
	    clip-path: polygon(0 122%, 112% -95%, 140% 100%, 40% 1000%);
	}
	.slick-center span{
		font-size: 5vw;
	}
	.menu li {
		padding: 2vh 0 1.5vh 2vw;
	    font-size: 4vw;
	}
	.change .b1 {
		transform: rotate(-45deg) ;
	}
	.change .b2 {
		opacity: 0;
	}
	.change .b3 {
		transform: rotate(45deg) ;
		margin-top: -4.8vw;
	}
	.button{
	    width: 51vw;
	    height: 8vh;
	    bottom: 18vw;
	    left: 24vw;
	    font-size: 4vw;
	}
	.img-cursor {
	    width: 9vw;
	    height: 5vw;
	    bottom: 1.8vw;
	    left: 22vw;
	}
	.lipetsk {
	    font-size: 3.8vw;
	}
	.reconstructions {
	    font-size: 5.8vw;
	}
}

