*{
	margin: 0;
	padding: 0;
}
.user_profile{
	width: 100%;
	background-color: #F6FAFF;
	height: 100vh;
	display: block;
	font-family: Gotham Pro;
}
.user_profile h2{
	font-size: 1.375vw;
	line-height: 1.75vw;
	letter-spacing: 0.05em;
	color: #4F4F4F;
}
.user_profile p{
	display: inline;
	width: 10vw;
	height: 2vw;
	font-size: 0.875vw;
	line-height: 1.25vw;
	letter-spacing: 0.05em;
	color: #808080;
	padding-top: 0.45vw;
}
.user_profile span{
	width: 10vw;
	height: 2vw;
	font-size: 0.875vw;
	line-height: 1.25vw;
	letter-spacing: 0.05em;
	color: #616161;
	padding: 0.45vw 0 0 0.5vw;
}
.user_profile__user_foto-info{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 50vw;
	padding: 3vw 8vw 0 8vw;
}
.user_profile__user_foto-info img{
	width: 12.5vw;
	height: 16.69vw;
}
.user_profile__user-information{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 35.5vw;
	padding-left: 2vw;
}
.user-name{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.user-name p{
	padding-left: 0.7vw;
}
.user__data{
	display: block;
/*	padding-top: 1.5vw;*/
}
.user__data li{
	padding: 0.5vw 0;
	list-style-type: none;
}
.user__information__button{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 2vw;
}
.user__information__button a{
	width: 16.92vw;
	height: 2.8vw;
	padding-top: 0.8vw;
	justify-content: center;
	text-align: center;
	font-size: 0.75vw;
	line-height: 1.063vw;
	letter-spacing: 0.05em;
	color:#808080;
	box-sizing: border-box;
	border: 0.06vw solid #D8D8D8;
	border-radius: 0.3vw;
}

.user_profile__new_idea{
	position: absolute;
	right: 8vw;
	top: 10vw;
	width: 15vw;
	height: 2vw;
	text-align: center;
	padding-top: 1vw;
	background-color: #97D9CF;
	border-radius: 15vw;
	color: #FFFFFF;
	font-size: 0.875vw;
	line-height: 1.063vw;
	letter-spacing: 0.05em;
}
.user__my_idea{
	margin: 2vw 0;
	display: block;
	background-color: #FFFFFF;
}
.user__my_idea h3{
	color:#89D5C9;
	font-size: 1vw;
	line-height: 1.4375vw;
	letter-spacing: 0.05em;
	padding: 1vw 8.3vw;
}

.user__my_idea-information{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding:0 8.3vw;
	border: 0.1vw solid #F5F5F5;
}
.user__my_idea-information p{
	width: 37vw;
	padding: 1vw 0 0.3vw 2vw;
	border-left: 0.1vw solid #F5F5F5;
}
.user__my_idea-information span{
	float:left;
	color: #808080;
	padding-left:0;
	width: 7vw;
	padding: 1vw 0 0.3vw 0;
}